<div class="row-fluid">
    <div class="span12">

        {% if type == 'subscription' or type == 'tag' %}
        <h3>Feed: {{ title|trans }}</h3>
        {% else %}
        <h3>{{ 'feed_type_title_'~type|trans }}</h3>
        {% endif %}

        {% if items|length > 0 %}
            {% for item in items %}
                {% include 'blocks/element/item.html.twig' %}
            {% endfor %}
        {% else %}
            Nothing to see here...
        {% endif %}
    </div>
</div>