<div class="row-fluid">
    <div class="span12">
        <h3>{{ title|trans }}</h3>

        {% if items|length > 0 %}
            {% for item in items %}
                {% include 'blocks/element/item.html.twig' %}
            {% endfor %}
        {% else %}
            Nothing to see here...
        {% endif %}
    </div>
</div>