<div class="row-fluid">
    <div class="span12 item-list" data-type-id="{{ typeId }}">
        {% if type == 'subscription' or type == 'tag' %}
            <h3>Feed: {{ title|trans }}</h3>
        {% else %}
            {% set title = 'feed_type_title_'~type %}
            <h3>{{ title|trans }}</h3>
        {% endif %}

        {% if items|length > 0 %}
            {% for item in items %}
                {% include 'blocks/element/item.html.twig' %}
            {% endfor %}
        {% else %}
            Nothing to see here...
        {% endif %}
    </div>
</div>