<div class="btn-group">
    <buton class="btn">Mark all as read</buton>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Feed settings
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">A</a>
        </li>
        <li>
            <a href="#">B</a>
        </li>
        <li>
            <a href="#">C</a>
        </li>
    </ul>
</div>

<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn" href="#"><i class="icon-sort-by-attributes"></i></a>
        <a class="btn" href="#"><i class="icon-sort-by-attributes-alt"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn" href="#"><i class="icon-list"></i></a>
        <a class="btn" href="#"><i class="icon-th-list"></i></a>
    </div>
</div>

<div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-cog"></i>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">A</a>
        </li>
        <li>
            <a href="#">B</a>
        </li>
        <li>
            <a href="#">C</a>
        </li>
    </ul>
</div>