<div class="row-fluid">
    <div class="span12">
        <h3>Collect Subscriptions</h3>
		<ul>
			{% for subscription in subscriptions %}
			<li>
				<label>
					<input type="checkbox" />
					{{ subscription.name }}
				</label>
			</li>
			{% endfor %}
		</ul>
    </div>
</div>