<div class="row-fluid">
    <div class="span12">
        <h3>
            {{ 'title_latest_items'|trans }}

            <div class="btn-group pull-right">
                <buton class="btn">Mark as read</buton>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Action
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">A</a>
                    </li>
                    <li>
                        <a href="#">B</a>
                    </li>
                    <li>
                        <a href="#">C</a>
                    </li>
                </ul>
            </div>
        </h3>

        {% if items|length > 0 %}
            {% for item in items %}
                {% include 'blocks/element/item.html.twig' %}
            {% endfor %}
        {% else %}
            Nothing to see here...
        {% endif %}
    </div>
</div>