<div class="row-fluid">
    <div class="span12">
        <h3>{{ 'Search'|trans }}</h3>

        {% if query|length > 0 %}
            got: {{ query }}
        {% else %}
            got nothing!
        {% endif %}
    </div>
</div>