<div class="form-horizontal discover-add-box">
    <div class="control-group">
        <label class="control-label" for="sub-url">Feed-URL</label>
        <div class="controls">
            <input type="url" class="discover-url" placeholder="URL" value="http://yahoo.com">
            <button type="button" class="btn discover-fetch">GO</button>
        </div>
    </div>
    <!--<div class="control-group">
        <label class="control-label" for="sub-name">Name</label>
        <div class="controls">
            <input type="text" id="sub-name" placeholder="Name">
        </div>
    </div>-->
    <div class="discovered-feeds"></div>
    <div class="control-group hidden discover-save">
        <div class="controls">
            <button class="btn discover-reset">Cancel</button>
            <button class="btn btn-primary">Save Subscription</button>
        </div>
    </div>
</div>