<div class="form-horizontal discover-add-box">
    <h4>Website-/Feed-URL</h4>

    <div class="input-group discover-set">
        <input type="url" class="discover-url form-control" name="url" id="lbl-discover-url" placeholder="URL" value="http://zeit.de">
        <span class="input-group-btn">
            <button type="button" class="btn btn-rdef discover-fetch">
                <i class="discover-go icon-chevron-sign-right"></i>
                <i class='discover-inprogress icon-refresh icon-spin hide'></i>
            </button>
        </span>
    </div>
    <!--<div class="control-group">
        <label class="control-label" for="sub-name">Name</label>
        <div class="controls">
            <input type="text" id="sub-name" placeholder="Name">
        </div>
    </div>-->
    <div class="discovered-feeds-container"></div>
</div>