{% extends '../main.html.twig' %}

{% block content %}
    <h1>Collect Subscriptions</h1>
    <ul>
        {% for result in results %}
            <li>
                {{ result.subscription.name }}

                {% if result.error %}
                    <span style="color: darkred;">{{ result.error }}</span>
                {% else %}
                    <span style="color: darkgreen;">
                        Added {{ result.inserted }} new items, got {{ result.existing }} existing items.</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}