<div class="sidebar">
    <div class="antiScroll">
        <div class="antiscroll-inner">
            <div class="antiscroll-content">
                <div class="sidebar_inner">
                    <ul id="proto" class="nav nav-list">
                        <li class="nav-header">Overview</li>
                        <li class="active">
                            <a href="{{ index_url }}" data-section="home">
                                <i class="icon-home"></i> Home
                            </a>
                        </li>
                        <li>
                            <a href="/about" data-section="about">
                                <i class="icon-info-sign"></i> About
                            </a>
                        </li>
                        <li>
                            <a href="/collect" data-section="collect">
                                <i class="icon-refresh"></i> Collect
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="nav-header">Reader</li>
                        <li>
                            <a href="/favourites" data-section="favourites">
                                <i class="icon-star"></i> Favourites
                            </a>
                        </li>
                        <li>
                            <a href="/saved" data-section="saved">
                                <i class="icon-time"></i> Read Later
                            </a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                    {% include 'blocks/sidebar/tagtree.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>