{% block sidebar %}
    <div class="span2 sideBar">
        <ul>
            <li data-link="home" class="active">
                <figure>
                    <i class='icon-home'></i>

                    <div class='menuText'>Home</div>
                </figure>
            </li>
            <li data-link="features">
                <figure><i class='icon-star'></i>

                    <div class='menuText'>Features</div>
                </figure>
            </li>
            <li data-link="features">
                <figure><i class='icon-info-sign'></i> About
                </figure>
            </li>
            <hr/>
            {% for tag in tagTree %}
                <li data-link="home" class="{% if tag.subs|length > 0 %}dropper{% endif %}">
                    <figure>
                        <i class='{% if tag.subs|length > 0 %}icon-th{% else %}icon-home{% endif %}'></i> {{ tag.t.name }}
                    </figure>
                    {% if tag.subs|length > 0 %}
                        <ul class='subSide'>
                            {% for sub in tag.subs %}
                                <li>
                                    {% if sub.icon %}
                                    <img src="/static/img/subscription-icons/{{ sub.icon }}.png" alt="" />
                                    {% else %}
                                        <img src="/static/img/015.png" alt="" />
                                    {% endif %}

                                    {{ sub.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}